<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>결과</title>
</head>
<body>
    <h1>Result</h1>
        남자 : <%= male1+male2%> 여자 : <%=female1+female2%> <br />
        호랑이 : <%= male1+female1%> 코끼리 : <%=male2+female2%> <br />
        호랑이를 고른 남자 : <%= male1 %> <br />
        코끼리를 고른 남자 : <%= male2 %> <br />
        호랑이를 고른 여자 : <%= female1 %> <br />
        코끼리를 고른 여자 : <%= female2 %> <br />
    
</body>
</html>